<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <h1>{{title}}</h1>
        {{>header}}
        <img src="/img/sahibjot singh.jpeg" class="portrait"/>
        <p>Myself Sahibjot Singh.I am a Btech Undergraduate in Computer science and engineering.I have experience in Mobile app development in android studio using java,kotlin and cross platform app using react-native.
        </p>
        </div>
        {{>footer}}
    </body>
</html>