<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <h1>{{title}}</h1>
        {{>header}}
        <p>Enter a valid location in Location text field and press search button.
            It will give the weather updates.
        </p>
        </div>
        {{>footer}}
    </body>
</html>